html,
body {
	height: 100%;
	font-family: "微软雅黑"
}

.banner {
	width: 100%;
	height: 610px;
	
}

.ban-content {
	width: 1200px;
	margin: 0 auto;
	padding-top: 60px;
	height: 488px
}

.ban-content-left {
	float: left;
	width: 650px;
	height: 393px;
	margin-top: 95px;
	
}

.ban-content-right {
	float: left;
	margin-top: 108px;
	width: 480px;
	height: 380px;
	margin-left: 0;
	text-align: left
}

.ban-content-right h1 {
	color: #fff;
	font-size: 65px;
	line-height: 85px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 5px
}

.ban-content-right p {
	margin: 25px 0;
	text-align: center;
	font-size: 30px;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-weight: 600
}

.ban-content-right .downLoad {
	width: 200px;
	height: 60px;
	background: #188cef;
	color: #fff;
	line-height: 60px;
	border-radius: 7px;
	text-align: center;
	text-decoration: none;
	box-shadow: inset 0 0 10px #bfe7f8;
	margin: 50px auto 0
}

.downLoad a {
	color: #fff;
	font-size: 28px;
	letter-spacing: 1px
}

.yq-main2 {
	width: 100%;
	height: 820px;
	padding-top: 30px;
	background: url(../img/index-bg3.jpg) no-repeat
}

.yq-main2-content {
	width: 1300px;
	height: 800px;
	margin: 0 auto
}

.yq-main2-tit h3 {
	height: 80px;
	line-height: 80px;
	font-size: 50px;
	font-family: "微软雅黑";
	color: #333;
	letter-spacing: 3px;
	text-align: center
}

.yq-main2-con {
	width: 1300px;
	height: 630px;
	margin-top: 70px
}

.yq-main2-con li {
	width: 350px;
	height: 240px;
	border: 1px solid #afafaf;
	border-radius: 10px;
	background-color: #fff;
	float: left;
	position: relative;
	padding: 0 30px;
	margin-left: 32px;
	margin-bottom: 60px
}

.yq-main2-con-img {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 170px;
	top: -40px
}

.yq-main2-con-tit {
	height: 40px;
	line-height: 40px;
	margin: 45px 0 15px;
	font-size: 24px;
	color: #444;
	text-align: center
}

.yq-main2-con-text {
	margin-top: 20px;
	text-align: center;
	line-height: 28px;
	color: #aaa
}

.yq-main4 {
	width: 100%;
	height: 790px;
	background: url(../img/index-bg2.jpg) no-repeat center;
	background-color: #c6d3db;
}

.yq-main4-content {
	width: 1200px;
	height: 760px;
	padding-top: 30px;
	margin: 0 auto
}

.yq-main4-content h3 {
	width: 100%;
	height: 100px;
	font-size: 50px;
	font-family: "microsoft yahei";
	line-height: 100px;
	text-align: center;
	margin: 0;
	color: #333;
	letter-spacing: 5px
}

.yq-main4-ul {
	width: 100%;
	height: 630px;
	margin-top: 30px
}

.yq-main4-ul li {
	float: left;
	width: 280px;
	height: 180px;
	border-radius: 8px;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px
}

.yq-main4-ul .video-img {
	width: 100%;
	height: 100%;
	
}

.yq-main4-black {
	background: rgba(0, 0, 0, 0.4);
	width: 280px;
	height: 180px;
	border-radius: 8px;
	position: absolute;
	left: 0;
	top: 0
}

.yq-main4-btn {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 110px;
	top: 64px;
	cursor: pointer
}

.yq-main4-ul li:hover .yq-main4-black {
	display: none
}

.img-tit {
	width: 280px;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	line-height: 50px;
	text-indent: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	background: rgba(0, 0, 0, 0.7);
	display: none
}

.yq-main4-ul li:hover .img-tit {
	display: block;
	cursor: pointer
}